<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Refugee Camp</title>
    @Styles.Render("~/Styles")

</head>
<body class="nav-md">

                @RenderBody()
         
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com/">Colorlib</a>
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>
    <!-- Google Analytics -->

    @Scripts.Render("~/TemplateScripts")
    @Scripts.Render("~/Scripts")
</body>
</html>
